<h1><%= @user.name %></h1>

<p><strong>Image:</strong></p>
<%= image_tag @user.image %>

<!-- Additional fields for other_user_info_columns -->

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
