<h1>Update User</h1>

<p>Image URL: <%= @user.image %></p>
<!-- Display the URL entered in the text field -->

<%= link_to 'Back', user_path(@user), class: 'btn btn-primary' %>
<!-- Add a link to go back to the user's show page or any other desired action -->
